*.py~
*~
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.tif
*.xml
*.png
*.csv
*.shp
*.cpg
*.prj
*.dbf
*.shx
*.qpj
*.geojson
*.nc
*.gif
*.lock
*.log
*.lyr
*.yaml
*.dirlock
*.sbn
*.sbx
__pycache__
Transitory_notebooks/
